{% extends 'base.html' %}
{% block css %}
        <link href="/static/css/article.css" rel="stylesheet">
{% endblock %}
{% block container%}
    <div class="col-xs-12 col-sm-9 id_article">
        <h2>关于个人</h2><hr>
        <blockquote>
        <p>本人原名叫林文杰，大学期间主修移动通信技术，在校期间担任计算机协会副会长，热衷LINUX系统和网络安全等。<br />由于大学已经开始接触Linux系统，从此爱上Linux之道，后面转型从事运维系统性工作。</p>
        </blockquote>
        <blockquote>
        <p>原来博客地址为：<a href="http://linuxunix.xyz/" target="_blank" rel="external">http://linuxunix.xyz/</a>，原站点存放在github，由于个人工作关系，导致较长时间并没有更新。<br>
           现站点www.pythonyw.cn是使用python编写，django框架。现在恢复更新目的是使自己保持编程习惯。由于本人前端不好，此站点并没有对手机端作适配。
        </p>
        </blockquote>
        <ul>
        <li><strong>广交朋友</strong> 本人热交志同道合的朋友，永远相信三人行必有我师之道理。</li>
        <li><strong>座右铭</strong>  天道酬勤，业精于勤，荒于嬉；行成于思，毁于随。</li>
        </ul>
        <p><strong>联系方式：</strong></p>
        <ul>
        <li>微博：<a href="http://weibo.com/u/3067277505/" target="_blank" rel="external">@LIN文杰</a></li>
        <li>邮箱：767568971@qq.com</li>
        </ul>
    </div>

{% endblock%}
